// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Sidenav
@import 'sideNav';

a{color: #000; text-decoration: none; &:hover,&:active{text-decoration: none;}}

.servis-navbar{
    background-color: $primary;
}

.row{
    margin: 0;
}

.content{
    display: flex;
    .sidenav{
        .sidenav-list{
            visibility: hidden;
        }
        position: absolute;
        width: 0;
        overflow: hidden;
        transition: all .3s;
        z-index: 100;

    }
    .main-content{
        position: relative;
        overflow: hidden;
        transition: all .3s;
        min-height: 100vh;
    }
    .servis-menu{display: none;}
}

.toggled{
    .content{
        .sidenav{
            width: 70%;
            .sidenav-list{
                visibility: visible;
            }
            .servis-menu{display: block;}
        }
        .main-content{
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 80;
                background-color: rgba(50, 50, 50, .3);
            }
        }

    }
}

@media only screen and(min-width: 960px){
    .content{
        .sidenav{
            position: relative;
            width: 80px;

        }
        .main-content{
            width: calc(100% - 80px);
        }
    }

    .toggled{
        .content{
            .sidenav{
                width: 20%;

            }
            .main-content{
                width: 80%;
                &::after{
                    width: 0;
                    height: 0;
                }
            }
        }
    }
}

// Login
.login-form{
    padding: 2em 0;
    .form-group{
        margin: 1em 0;
    }
}

//Servis-form
.servis-form{
    position: relative;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    z-index: 1;
    .form-group{
        margin: 1em 0;
        label{
            text-align: right;
        }
    }
    .add-customer{
        .fa-plus-square{
            font-size: 24px;
            line-height: 1.5em;
            &:hover, &:focus{
                cursor: pointer;
                color: #6e6e6e;
            }
        }
    }
}

//Customer Form
.customer-form{
    .fa-times{
        font-size: 26px;
        color: $danger;
        &:hover, &:focus{
            color: lighten($danger, 10%);
            cursor: pointer;
        }
    }
    .form-group{
        margin: 1em 0;
        label{
            text-align: right;
        }
    }
}

//Services index
.table-services{
    .fa-edit, .fa-check-double, .fa-trash-alt{
        font-size: 20px;
        margin-right: 4px;
        cursor: pointer;
    }
    .fa-edit:hover, .fa-edit:focus{ color: #0040a5;}
    .fa-check-double:hover, .fa-edit:focus{ color: $success;}
    .fa-trash-alt:hover, .fa-edit:focus{ color: $danger;}
    #destroyForm{
        display: inline;
    }
}
